# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist

# Environment variables - ASLA GİTHUB'A ATMA!
.env
.env.*
.env.local
.env.development
.env.development.local
.env.production
.env.production.local
.env.test
.env.test.local
*.env
.env.backup

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo
